* {
  box-sizing: border-box;  
}

body {
  max-height: 100vh;
  background-color: lightblue;
}

#calculator-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  height: 30%;
  flex-direction: column;
  flex: 4 100px;

}

.allButtons{
  display: grid;
  grid-template-columns: repeat(4, 3rem);  
  font-size: 2rem;
  min-height: 100px;
}


#calculator-grid > button:hover {
  background-blend-mode:hard-light;
}


.span-two {
  grid-column: span 2;
}

#display {
  grid-column: 1 / -1;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 5%;
  height: 2rem;
  width: 12rem;
  font-size: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;

}